:root {
  --body_background: rgb(260, 240, 240);
  --form_background: rgb(220, 200, 200);
  --text_input: hotpink;
  --title_color: yellow;
  --border_color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body_background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14pt;
  padding: 20px;
}
main {
  width: 80vw;
  height: 98vh;
  margin: auto;
}
form {
  width: 65vw;
  margin: 20px auto;
  background-color: var(--form_background);
}
fieldset {
  border: none;
  padding: 20px;
}
section div {
  padding-bottom: 10px;
}
label {
  display: block;
  opacity: 100;
  font-size: 12pt;
  transition: opacity 5s linear;
}
.moving {
  opacity: 1;
}
input {
  padding: 3px;
  font-size: 16pt;
}
input[type="radio"]~label {
  display: inline;
}