:root {
  --body_background: dodgerblue;
  --form_background: chartreuse;
  --text_input: hotpink;
  --title_color: yellow;
  --border_color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
