:root {
  --body_background: dodgerblue;
  --form_background: chartreuse;
  --text_input: hotpink;
  --title_color: yellow;
  --border_color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body_background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18pt;
}